<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitPub</title>
    <style>
        h1 {
            text-decoration: underline;
            background-color: crimson;
        }
        body {
            background-color: steelblue;
            color: blanchedalmond;
            text-align: center;
        }
        li:first-letter {
            text-transform: capitalize;
        }
        li > a {
            text-decoration: none;
            color: blanchedalmond;
            font-size: 20px;
            font-style: italic;
        }

        li > a:hover {
            text-decoration: underline;
        }

        ul {
            display: inline;
        }
    </style>
</head>
<body>
    <h1>Welcome To gitPub</h1>
    <ul>
        <% for(let i = 0; i < drinks.length; i++){ %> 
       <li><a href="/drinks/<%= i %>"><%= ` ${drinks[i].name} ` %></a></li> 
       <% } %>
    </ul>
</body> 
</html>